## Preprocessing

In [38]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [39]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN'])

In [40]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [41]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_valuecounts = application_df['APPLICATION_TYPE'].value_counts()
app_valuecounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = app_valuecounts[app_valuecounts < 1000].index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [43]:
# Look at CLASSIFICATION value counts for binning
class_valuecounts = application_df['CLASSIFICATION'].value_counts()
class_valuecounts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [44]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_valuecounts[class_valuecounts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [45]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_valuecounts[class_valuecounts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [46]:
# Look at NAME value counts for binning
name_valuecounts = application_df['NAME'].value_counts()
name_valuecounts[name_valuecounts>50]

PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                        408
PTA TEXAS CONGRESS                                                     368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                          331
ALPHA PHI SIGMA                                                        313
TOASTMASTERS INTERNATIONAL                                             293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                      287
LITTLE LEAGUE BASEBALL INC                                             277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                               266
MOMS CLUB                                                              210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION     206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                               197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                   166
KNIGHTS OF COLUMBUS                                                    158
HABITAT FOR HUMANITY INTERNATIONAL INC                                 154
TENNESSEE ORDER OF THE EASTERN STAR                                    151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                144
PTA UTAH CONGRESS                                                      140
THE UNITED STATES PONY CLUBS INC                                       136
CIVITAN INTERNATIONAL                                                  131
SIGMA BETA DELTA INC                                                   127
HONOR SOCIETY OF PHI KAPPA PHI                                         107
MONTANA 4-H FOUNDATION INC                                             107
WASHINGTON STATE GRANGE                                                106
UNIVERSITY OF WYOMING                                                  105
DEMOLAY INTERNATIONAL                                                  104
SERTOMA INC                                                            103
AIR FORCE ASSOCIATION                                                   99
WORKERS UNITED                                                          97
GAMMA THETA UPSILON                                                     92
INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS                              91
SOCIETY OF SAINT VINCENT DE PAUL COUNCIL OF LOS ANGELES                 87
ROTARY INTERNATIONAL                                                    84
CALIFORNIA GARDEN CLUBS INC                                             76
SWEET ADELINES INTERNATIONAL                                            73
DISABLED AMERICAN VETERANS                                              73
KLEIN SUPPORT GROUPS INC                                                69
CLEARCREEK I S D SUPPORT GROUPS                                         60
VFW AUXILIARY DEPARTMENT OF OKLAHOMA INC                                58
DEPARTMENT OF KANSAS LADIES AUXILIARY TO THE VFW OF THE US INC          57
CISD EDUCATIONAL SUPPORT GROUPS INC                                     57
SONS OF CONFEDERATE VETERANS INC                                        56
SLOW FOOD USA INC                                                       55
NATIONAL YOUNG MENS SERVICE LEAGUE                                      54
AMATEUR ATHLETIC UNION OF THE UNITED STATES                             52
LAMBDA THETA ALPHA                                                      52
Name: NAME, dtype: int64

In [47]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `names_to_replace`
names_to_replace = name_valuecounts[name_valuecounts<100].index

# Replace in dataframe
for cls in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [48]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [49]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns = 'IS_SUCCESSFUL')
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=89)

In [50]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [51]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len(X_train_scaled[0])
layer_1 = 80
layer_2 = 40
layer_3 = 20
nn_model = tf.keras.models.Sequential()



# First hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=layer_1, activation="relu", input_dim= input_features))

# Second hidden layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=layer_2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                5760

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 9041 (35.32 KB)
Trainable params: 9041 (35.32 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [52]:
# Compile the model
#  YOUR CODE GOES HERE
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [53]:
from keras.src.saving.saving_lib import save_weights_only
from keras.src.saving.saving_api import save_weights
import os
from tensorflow.keras.callbacks import ModelCheckpoint

os.makedirs('checkpoints2/',exist_ok = True)
file_path = "checkpoints2/weights.{epoch:02d}.hdf5"

callback = ModelCheckpoint(filepath = file_path, save_weights_only = True, period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [54]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50, callbacks = [callback])

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5144 - accuracy: 0.7416
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4971 - accuracy: 0.7516
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4943 - accuracy: 0.7529
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4912 - accuracy: 0.7550
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4901 - accuracy: 0.7565
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4889 - accuracy: 0.7566
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4877 - accuracy: 0.7577
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4875 - accuracy: 0.7580
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4867 - accuracy: 0.7586
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4861 - accuracy: 0.7583
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4857 - accuracy: 0.7578
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4850 - accuracy: 0.7601
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4850 - accuracy: 0.7575
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4843 - accuracy: 0.7600
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4836 - accuracy: 0.7593
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4833 - accuracy: 0.7596
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4827 - accuracy: 0.7602
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4823 - accuracy: 0.7610
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4826 - accuracy: 0.7606
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4815 - accuracy: 0.7619
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4816 - accuracy: 0.7594
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4810 - accuracy: 0.7606
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4809 - accuracy: 0.7610
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4805 - accuracy: 0.7623
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4803 - accuracy: 0.7626
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4798 - accuracy: 0.7626
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4800 - accuracy: 0.7621
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4791 - accuracy: 0.7614
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4798 - accuracy: 0.7628
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4793 - accuracy: 0.7618
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4787 - accuracy: 0.7624
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4791 - accuracy: 0.7626
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4785 - accuracy: 0.7629
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4784 - accuracy: 0.7624
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4781 - accuracy: 0.7627
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4781 - accuracy: 0.7635
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4778 - accuracy: 0.7640
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4777 - accuracy: 0.7629
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4780 - accuracy: 0.7640
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4772 - accuracy: 0.7634
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4770 - accuracy: 0.7635
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4772 - accuracy: 0.7635
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.4768 - accuracy: 0.7633
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4769 - accuracy: 0.7619
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4764 - accuracy: 0.7636
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4764 - accuracy: 0.7634
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4764 - accuracy: 0.7627
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4762 - accuracy: 0.7631
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4761 - accuracy: 0.7628
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.4758 - accuracy: 0.7626

In [55]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4997 - accuracy: 0.7600 - 448ms/epoch - 2ms/step
Loss: 0.49969980120658875, Accuracy: 0.7599999904632568

In [56]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn_model.save("alphebetsoupcharity2.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

# New Section

In [ ]:
#from google.colab import drive
#drive.mount('/Colab Notebooks/drive')

In [58]:
from google.colab import files
import shutil

shutil.make_archive("checkpoints2", "zip", "checkpoints1")
# files.download("checkpoints2.zip")
files.download("alphebetsoupcharity2.h5")